*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.population{
    width: 100vw;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 50px;
    background-image: url('/public/');
    background-size: 100%;
    background-repeat: no-repeat;
}
.inpbtn{
    width: 700px;
    height: 70px;
    display: flex;
    flex-direction: row;
}
.inp1{
    width: 300px;
    height: 40px;
    border: none;

}
button{
    width:100px;
    border: none;
    background-color: white;
}

.mid{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding-top: 30px;
}
.datas{
    width: 700px;
}