*{
    padding: 0;
    margin: 0;
}
.worldometer{
    width: 100vw;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.mid{
    width: 40%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding-top: 30px;
}
.info{
    height: 40px;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    padding-left: 30px;
    border-bottom: 0.3px solid gray;
    display: flex;
    align-items: center;
}